.ssfooter {
  background-color: #16224a;
  padding: 10px 0px;
}

.con {
  max-width: 1610px !important;
}

.footerstart {
  color: white;
  text-align: center;
}

.footerstart .footthanks {
  font-size: 25px;
  font-weight: 600;
  padding-top: 20px;
  font-family: "Outfit", Sans-serif;
}

.footerstart .footquestions {
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter, san-serif";
}

.footersections h5 {
  font-size: 20px;
  color: #ed2024 !important;
  font-family: "Inter, san-serif";
}

.footerlinks h5 {
  color: #ed2024 !important;
  margin-bottom: 20px;
  font-family: "Inter, san-serif";
}

.companydetails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
}

.copyrights a {
  color: #fff;
  text-decoration: none;
}

.terms-privacy a {
  color: #fff;
  text-decoration: none;
}

.footersections .quicklinks {
  list-style-type: none;
  padding-left: 0;
}

.footersections .quicklinks li {
  margin-top: 5px;
  cursor: pointer;
  display: flex;
  gap: 5px;
}
li > .footer-icons {
  color: white;
}

li:hover .footer-icons {
  color: #ed2024 !important;
}

li:hover .footer-link {
  color: #ed2024 !important;
}
.footphone:hover .number-footer {
  color: white;
}

/* color: red; */

li .active {
  color: #ed2024 !important;
}

.social-icon {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #007bff;
}

.footaddress,
.footmail,
.footphone {
  color: #fff;
}

.footersections .quicklinks a {
  color: #fff;
  text-decoration: none;
}

.footabout {
  color: #fff;
}

.shruiken {
  width: 18px;
  height: 18px;
}

@media only screen and (min-width: 1024px) {
  .footersections {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.rows {
  padding: 20px;
}

/* @media (max-width:992px) {
.rows{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
}
  
} */

@media (max-width: 768px) {
  .companydetails {
    justify-content: center;
    gap: 20px;
  }
}

p {
  margin: 0px;
}


.wrapper {
  display: inline-flex;
  list-style: none;
flex-wrap: wrap;
  width: 100%;
  padding-left: 0px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin-bottom:0px;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: black;
  color: #fff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #007fbc;
  color: #fff;
}

.wrapper .tiktok:hover,
.wrapper .tiktok:hover .tooltip,
.wrapper .tiktok:hover .tooltip::before {
  background: #000000;
  color: #fff;
}


.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: #25D366; /* WhatsApp's primary color */
  color: #fff;
}
